@model LuccasCorp.Models.VerifyPhoneViewModel

<h2>Verificar número de telefone</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Verificar</button>
}

@Html.ValidationSummary(true)
