@{
    ViewBag.Title = "Sobre";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<div class="row-fluid">

    <div style="display: flex; justify-content: center; gap: 20px;">
        <a href="https://www.linkedin.com/in/luccas-carneiro-678689171/" target="_blank" style="text-decoration: none; color: black;">
            <i class="fab fa-linkedin" style="font-size: 24px; margin-right: 8px;"></i>
            Meu LinkedIn
        </a>

        <a href="https://github.com/luccas00" target="_blank" style="text-decoration: none; color: black;">
            <i class="fab fa-github" style="font-size: 24px; margin-right: 8px;"></i>
            Meu GitHub
        </a>
    </div>

    <br />

    <div class="text-center bg-light p-3">
        <h1>CSI606-24.2 - Proposta de Trabalho Final</h1>
        <h2>Discente: Luccas Vinicius P. A. Santos Carneiro</h2>
    </div>

    <div class="container mt-5 bg-light p-3">
        <section>
            <h3>Resumo</h3>
            <p>Este projeto consiste na implementação de um site para o gerenciamento de opiniões e comentários sobre professores e disciplinas do ICEA (Instituto de Ciências Exatas e Aplicadas) da UFOP. A plataforma permitirá que os alunos registrem feedbacks sobre suas experiências acadêmicas, garantindo um ambiente de avaliações construtivas. Para manter a qualidade e a ética dos comentários, o sistema utilizará Inteligência Artificial para analisar o conteúdo, identificando possíveis insultos, preconceitos ou julgamentos subjetivos. O acesso será restrito a alunos da UFOP, exigindo cadastro e confirmação via e-mail institucional.</p>
        </section>

        <section>
            <h3>1. Tema</h3>
            <p>Gerenciamento de Opiniões e Comentários sobre Professores e Disciplinas do ICEA</p>
        </section>

        <section>
            <h3>2. Escopo</h3>
            <p>
                <ul>
                    <li>Cadastro e login de usuários utilizando e-mail institucional da UFOP</li>
                    <li>Publicação de comentários sobre professores e disciplinas do ICEA</li>
                    <li>Sistema de análise de sentimentos e filtragem de conteúdo inadequado usando IA</li>
                    <li>Detecção automática de insultos, preconceitos e julgamentos subjetivos</li>
                    <li>Exibição de comentários aprovados de forma organizada e acessível</li>
                    <li>Moderação automatizada para evitar discursos ofensivos ou discriminatórios</li>
                </ul>
            </p>
        </section>

        <section>
            <h3>3. Restrições</h3>
            <ul>
                <li>Comentários anônimos ou de usuários sem e-mail institucional da UFOP</li>
                <li>Avaliações quantitativas, como notas ou estrelas, focando exclusivamente em feedbacks textuais</li>
                <li>Edições de comentários após a publicação, permitindo apenas exclusão e repostagem</li>
                <li>Moderação manual, sendo a filtragem realizada exclusivamente por IA</li>
                <li>Exibição de comentários aprovados de forma organizada e acessível</li>
                <li>Suporte a outras unidades da UFOP além do ICEA</li>
            </ul>
        </section>

        <section>
            <h3>4. Protótipo</h3>
            <p>Protótipos desenvolvidos no modelo MVC e em um aplicativo web estático.</p>
            <ul>
                <li><a href="https://github.com/luccas00/WEB1_MVC" target="_blank">Protótipo MVC</a></li>
                <li><a href="https://github.com/luccas00/WEB1_StaticWebApp" target="_blank">Protótipo Static Web App</a></li>
            </ul>
        </section>

        <section>
            <h3>5. Referências</h3>
            <ul>
                <li><a href="https://learn.microsoft.com/pt-br/aspnet/mvc/overview/getting-started/introduction/getting-started" target="_blank">Introdução ao ASP.NET MVC</a></li>
                <li><strike><a href="https://learn.microsoft.com/pt-br/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-web-app-with-email-confirmation-and-password-reset" target="_blank">Criar um aplicativo Web seguro do ASP.NET MVC</a></strike></li>
                <li><a href="https://learn.microsoft.com/pt-br/aspnet/identity/overview/features-api/account-confirmation-and-password-recovery-with-aspnet-identity" target="_blank">Confirmação da conta e recuperação de senha com ASP.NET Identity (C#)</a></li>
                <li><a href="https://learn.microsoft.com/pt-br/azure/static-web-apps/get-started-portal?tabs=vanilla-javascript&pivots=github" target="_blank">Criar seu primeiro aplicativo Web estático</a></li>
                <li><a href="https://www.w3schools.com/html/default.asp" target="_blank">HTML Tutorial</a></li>
                <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS Tutorial</a></li>
            </ul>
        </section>

        <section>
            <h3>6. Diagrama de Classe</h3>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                <img src="~/Images/WebI_MVC_LuccasCorpVX.svg" alt="LogoLuccasCorp" style="margin-top: 20px; width: 500px; height: auto;">
            </div>
        </section>

    </div>

    
</div>