@{
    ViewBag.Title = "Página Inicial";
}

<style>
    body {
        background-color: #110F1C;
    }
</style>

<br />
<br />

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    @*<div>
        <h1 class="display-4" style="color: white;">Luccas Corp</h1>
    </div>*@
    <img src="~/Images/LuccasCorpLogo00.png" alt="LogoLuccasCorp" style="margin-top: 20px; width: 500px; height: auto;">
</div>

