@{
    ViewBag.Title = "Página Inicial";
}

<style>
    body {
        background-color: #110F1C;
    }
</style>

<br />
<br />

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    @*<div>
            <h1 class="display-4" style="color: white;">Luccas Corp</h1>
        </div>*@
    <img src="~/Images/LuccasCorpLogo00.png" alt="LogoLuccasCorp" style="margin-top: 20px; width: 500px; height: auto;">
</div>

<br />
<br />

<div class="form-group d-flex justify-content-center">
    <a href="@Url.Action("Index", "Comentarios")" class="btn rounded-pill shadow-sm px-5 py-3 me-5 fs-5 custom-btn">
        Comentários
    </a>

    <a href="@Url.Action("Index", "Disciplinas")" class="btn rounded-pill shadow-sm px-5 py-3 me-5 fs-5 custom-btn">
        Disciplinas
    </a>

    <a href="@Url.Action("Index", "Professores")" class="btn rounded-pill shadow-sm px-5 py-3 fs-5 custom-btn">
        Professores
    </a>
</div>
