@{
    ViewBag.Title = "Learn";
}

<main>

    <br />

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET é um framework web gratuito para criar sites e aplicações web incríveis usando HTML, CSS e JavaScript.</p>
        <p><a href="https://asp.net"  target="_blank" class="btn btn-primary btn-md">Saiba mais &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Começando</h2>
            <p>
                O ASP.NET MVC oferece uma maneira poderosa, baseada em padrões, para construir sites dinâmicos que
                permite uma separação clara de responsabilidades e oferece total controle sobre a marcação
                para um desenvolvimento ágil e agradável.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Saiba mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Obtenha mais bibliotecas</h2>
            <p>O NuGet é uma extensão gratuita do Visual Studio que facilita a adição, remoção e atualização de bibliotecas e ferramentas em projetos do Visual Studio.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">Saiba mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Hospedagem na Web</h2>
            <p>Você pode facilmente encontrar uma empresa de hospedagem na web que ofereça a combinação certa de recursos e preço para suas aplicações.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Saiba mais &raquo;</a></p>
        </section>
    </div>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Introdução ASP.NET MVC 5 (.NET Framework)</h2>
            <p>
                Este tutorial ensina os conceitos básicos da criação de um aplicativo Web ASP.NET MVC 5 usando o Visual Studio.
            </p>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/pt-br/aspnet/mvc/overview/getting-started/introduction/getting-started" target="_blank">Saiba mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Introdução ao ASP.NET Core MVC (.NET Core)</h2>
            <p>Este tutorial ensina a usar o desenvolvimento Web do ASP.NET Core MVC com controladores e exibições.</p>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/pt-br/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-9.0&tabs=visual-studio" target="_blank">Saiba mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">.NET Core vs .NET Framework para aplicativos de servidor</h2>
            <p>Há duas implementações do .NET com suporte para a criação de aplicativos do lado do servidor: .NET e .NET Framework.</p>
            <p><a class="btn btn-outline-dark" href="https://learn.microsoft.com/pt-br/dotnet/standard/choosing-core-framework-server" target="_blank">Saiba mais &raquo;</a></p>
        </section>
    </div>

</main>
