@{
    ViewBag.Title = "Conteúdo Impróprio Encontrado";
}

<h2 style="color: red">@ViewBag.Title.</h2>

<br />

<h3 style="color: red">@ViewBag.Message</h3>

<br />

<pre style="white-space: pre-wrap; word-wrap: break-word; background-color: #f4f4f4;">@ViewBag.Texto</pre>

<br />
<br />

<h6>Tente novamente</h6>

<br />
<br />

<footer>
    <div>
        <h6>
            Este site utiliza inteligência artificial para filtrar automaticamente conteúdos ofensivos, incluindo insultos, preconceitos e julgamentos.
            <br />
            Nosso objetivo é criar um espaço respeitoso e seguro para todos. Caso encontre algum problema, entre em contato conosco.
        </h6>
    </div>
</footer>